.ParentBodyDiv {
  height: 100%;
  padding: 2%;
}
.RegisterSquare {
  height: 80%;
  width: 25%;
  margin: auto;
}

/*Register*/
.RegisterDiv {
  height: 60%;
  background: linear-gradient(
    0deg,
    rgba(11, 104, 106, 0.3) 0%,
    rgba(0, 30, 31, 0.3) 100%
  );
}
.RegisterTXT {
  color: white;
  text-align: center;
  height: 50px;
  background: rgb(11, 104, 106);
  background: linear-gradient(
    180deg,
    rgba(11, 104, 106, 1) 0%,
    rgba(0, 30, 31, 1) 100%
  );
}
.RegisterTXTH1 {
  width: 100%;
  font-family: poppins;
}
.RegisterForm {
  margin-top: 5px;
  margin-left: 5px;
  width: 100%;
  font-family: poppins;
}
.LoginDiv {
  height: 40%;
  background: rgb(11, 104, 106);
  background: linear-gradient(
    0deg,
    rgba(11, 104, 106, 0.3) 0%,
    rgba(0, 30, 31, 0.3) 100%
  );
  display: flex;
  flex-direction: column;
}
.LoginTXT {
  text-align: center;
  color: white;
  height: 50px;
  background: rgb(11, 104, 106);
  background: linear-gradient(
    180deg,
    rgba(11, 104, 106, 1) 0%,
    rgba(0, 30, 31, 1) 100%
  );
}
.LoginTXTH1 {
  width: 100%;
  font-family: poppins;
}
.LoginForm {
  margin-top: 5px;
  margin-left: 5px;
  width: 100%;
  font-family: poppins;
}

input {
  height: 30px;
  width: 90%;
  border-radius: 10px;
  font-family: poppins;
  font-size: 20px;
}
.submitbutton {
  width: 30%;
  margin-top: 30px;
  margin-left: 30%;
}
