.DivText {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.LogoRegistrado {
  height: 40%;
}
.LogoRegistradoIMG {
  height: 100%;
}
.TEXTO {
  font-size: 50px;
  height: 50%;
}
.IncioBack {
  height: 10%;
}
.comeback {
  margin-top: auto;
  margin-bottom: 20%;
  height: 50px;
}
